@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #343531;
}
h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}
.icon {
  width: 20px;
  margin-right: 5px;
}
.contact-details {
  display: flex;
  width: 40%;
  align-items: center;
}
.contact-details span {
  padding-right: 20px;
  color: #a1aaa7;
}

#header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8eee4;
  padding: 0 170px;
}

#header article {
  padding: 10px 0;
}

.green {
  color: #00d9a5;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: rgba(110, 128, 122, 0.8);
  padding-right: 5px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  position: relative;
}
.btn {
  color: white;
  background-color: #00d9a5;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-decoration: none;
}

.search-bar input {
  border: 1px solid #ced4da;
  height: 1.5rem;
  padding-left: 5px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.search-icon {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  height: 1.5rem;
  display: inline-block;
  position: absolute;
  left: -28px;
}

.search-icon img {
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  margin: auto;
}

#ad-section {
  background-image: url("bg_image_1.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ad-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-tint {
  position: relative;
  z-index: 1;
}

.bg-tint::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 30, 30, 0.6);
  z-index: -1;
}

#ad-section h1 {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
#ad-section p {
  font-size: 1rem;
  color: white;
  letter-spacing: 5px;
  font-weight: 400;
  line-height: 1.5rem;
}

#intro-section {
  height: 580px;
  background-color: #f5f9f6;
}
#intro-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

#intro-section p {
  width: 80%;
  text-align: justify;
  line-height: 1.5em;
  margin-bottom: 25px;
  color: #6e807a;
}

#intro-section h2 {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 1.2;
  width: 75%;
}

#intro-section #paragraph-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 20%;
}
#intro-section #doctor-img {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
#intro-section img {
  width: 400px;
}
#purple-bg {
  background-color: #4e5afe;
}
#green-bg {
  background-color: #00d9a5;
}
#pink-bg {
  background-color: #ff3d85;
}
#three-boxes-container {
  background-color: #f5f9f6;
  position: relative;
  z-index: 1;
}
#three-boxes-container > article > div {
  background-color: transparent;
  width: 70%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translatey(-30%);
}

#three-boxes-container .box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(154, 159, 151, 0.2);
  background-color: white;
  width: 260px;
  padding: 20px;
}

#three-boxes-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 50%;
}
#three-boxes-container .icon-img {
  width: 40px;
}

#three-boxes-container h4 {
  font-weight: 400;
  width: 45%;
}
/* .nav-bar a,
li {
  list-style: none;
  text-decoration: none;
  color: rgba(110, 128, 122, 0.8);
  padding-right: 5px;
} */
/* .nav-bar .btn {
  color: white;
  background-color: #00d9a5;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
} */

/* background-position: 0px -250px; */
